.post-card {
  background-color: #010409;
  border-width: 1px;
  border-color: rgb(49, 49, 49);
  border-radius: 5px;
  transition-delay: 0.15s;
}

.profile-pic {
  position: relative;
  top: -70px;
}

.avatar-pic {
  box-shadow: 4px 0px 8px 1px rgba(0, 0, 0.1, 0.3);
  border-radius: 100px;
}

.cover-pic {
  object-fit: cover;
  height: 400px;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
}

.cover-pic:hover {
  cursor: pointer;
}

.like-icon {
  color: aliceblue;
}

.like-icon.active {
  color: red;
  cursor: pointer;
}

.like-icon:hover {
  color: red;
  cursor: pointer;
}

.comment-icon {
  color: aliceblue;
}

.comment-icon:hover {
  color: rgb(27, 106, 151);
  cursor: pointer;
}

.post-date {
  position: relative;
  top: -10px;
}

.post-content {
  position: relative;
  top: -10px;
  white-space: pre-line;
  color: white;
}

.post-avatar {
  position: relative;
  top: 10px;
}
