<div class="container mt-4">
    <div class="row">
        <div class="col" [ngClass]="isSelected ? 'blur' : null">
            <weather></weather>
        </div>
        <div class="col-7">
            <create-post (isCreatePostClickedEventEmitter)="update($event)" [isCreatePostClicked]="isSelected">
            </create-post>
            <br />
            <div [ngClass]="isSelected ? 'blur' : null">
                <post-list></post-list>
            </div>
        </div>
        <div class="col" [ngClass]="isSelected ? 'blur' : null">
            follow suggestion
        </div>
    </div>
</div>