<div *ngFor="let post of posts">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <nz-avatar nzSize="large" nzSrc="http://localhost:8081/api/users/profile-img/{{post.user_id}}">
                    </nz-avatar>
                    <div class="col-9">
                        <a> Maxim Pokidaylo </a>
                        <br />
                        <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
                    </div>
                    <div class="col text-end">
                        <fa-icon [icon]="faEmptyBookmark"></fa-icon>
                    </div>
                </div>
                <br />
                <div class="row">
                    {{ post.content }}
                </div>
            </div>
        </div>

        <img src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png">

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <div class="circle-comment">
                        <fa-icon class="a-text" [icon]="faComment" size="1x"></fa-icon>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="circle-like">
                        <fa-icon class="a-text" [icon]="faHeart" size="1x"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto me-auto">
                    <nz-avatar-group>
                        <div *ngFor="let id of post.noice_ids; let i = index">
                            <nz-avatar *ngIf="i < 5" nzIcon="user"
                                nzSrc="http://localhost:8081/api/users/profile-img/{{id}}">
                            </nz-avatar>
                        </div>
                        <nz-avatar *ngIf="i >= 5" style="background-color: #fde3cf; color: #f56a00"
                            nzText="+{{post.noice_ids.length - 5}}"></nz-avatar>
                        <div class="col">
                            <small class="text-muted">Liked this</small>
                        </div>
                    </nz-avatar-group>

                </div>
                <div class="col-auto" style="padding-top: '10px';">
                    <span nz-typography><kbd>{{ post.comment_ids.length }}</kbd></span>
                    <fa-icon [icon]="faEmptyComment" size="lg"></fa-icon>
                </div>
                <div class="col-auto" style="padding-top: '10px';">
                    <span nz-typography><kbd>{{ post.noice_ids.length }}</kbd></span>
                    <fa-icon [icon]="faEmptyHeart" size="lg"></fa-icon>
                </div>
            </div>
        </div>
        <br />
    </div>
    <br />
</div>