<div>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <nz-avatar nzSize="large" nzSrc="http://localhost:8081/api/users/profile-img/post-id"></nz-avatar>
                    <div class="col-9">
                        <a> Maxim Pokidaylo </a>
                        <br />
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="col text-end">
                        Save
                    </div>
                </div>
                <br />
                <div class="row">
                    Content
                </div>
            </div>
        </div>

        <img src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png">

        <div class="container text-center">
            <div class="row justify-content-start">
                <div class="col-2">
                    <button nz-button nzType="text" nzSize="large" nzShape="round">
                        <i nz-icon nzType="like" nzTheme="outline"></i>Like
                    </button>
                </div>
                <div class="col-2">
                    <button nz-button nzType="text" nzSize="large" nzShape="round">
                        <i nz-icon nzType="comment" nzTheme="outline"></i>Comment
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>