<nz-card class="weather-card">
    <div class="text-center">
        <h4 *ngIf="weather_data">{{ weather_data.main.temp | number: '1.0-0' }} &#8451;</h4>
        <img *ngIf="weather_data" src="assets/weather_icons/{{ weather_data.weather[0].icon }}.gif" width="83px"
            alt="weather_icon">
        <!-- <img *ngIf="weather_data" src="http://openweathermap.org/img/wn/{{ weather_data.weather[0].icon }}@2x.png"
            alt=""> -->
        <h5 *ngIf="weather_data">{{ (weather_data.weather[0].description | titlecase) || 'No Available'}}</h5>
        <h5 *ngIf="weather_data">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            {{ weather_data.name }}, {{ weather_data.sys.country }}
        </h5>
        <br />
        <p *ngIf="weather_data"> Feels Like: {{ weather_data.main.feels_like }} &#8451; <nz-divider nzType="vertical">
            </nz-divider> Humidity: {{ weather_data.main.humidity }}%</p>
        <p *ngIf="weather_data"> {{ weather_data.dt | date }} </p>
    </div>
</nz-card>